body {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  }
h1{
  color: gray;
  font-family: Veranda, Helvetica, sans-serif;
  }
.maindiv {
  background-color: white;
  color: black;
  width: 300;
  padding: 25px;
  border-radius: 25px;
  }
td {
  text-align: left;
  padding: 5px;
}
table {
  margin-left: 50px;
}
.mark {
  background-color: yellow;
}